USE [test]
GO
/****** Object:  Table [dbo].[test]    Script Date: 10/2/2019 11:38:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[packages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[address] [varchar](max) NULL,
	[delivery_instructions] [varchar](max) NULL,
	[driver] [varchar](255) NULL,
	[notes] [varchar](max) NULL,
	[status] [int] NULL,
	[deliver_time] [datetime] NULL,
	[picture] [varbinary](max) NULL,
	[barcode] [varchar](50) NULL,
 CONSTRAINT [PK_packages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[scans]    Script Date: 10/2/2019 11:38:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[scans](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[barcode] [varchar](50) NOT NULL,
	[username] [varchar](50) NULL,
	[scan_status] [int] NULL,
	[timestamp] [datetime] NULL,
 CONSTRAINT [PK_scans] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[packages] ON 

INSERT [dbo].[packages] ([id], [name], [address], [delivery_instructions], [driver], [notes], [status], [deliver_time], [picture], [barcode]) VALUES (2, N'P. Sherman', N'42 Wallaby Lane, Sydney', N'In the aquarium', N'wade', N'Bring a snorkel', 1, NULL, NULL, N'box002')
SET IDENTITY_INSERT [dbo].[packages] OFF
SET IDENTITY_INSERT [dbo].[scans] ON 

INSERT [dbo].[scans] ([id], [barcode], [username], [scan_status], [timestamp]) VALUES (1, N'box001', N'arthur', 1, CAST(N'2019-08-26 00:00:00.000' AS DateTime))
INSERT [dbo].[scans] ([id], [barcode], [username], [scan_status], [timestamp]) VALUES (2, N'box003', N'wade', 1, CAST(N'2019-08-26 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[scans] OFF
